<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GH_IO" publicKeyToken="6a29997d2e6b4f97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.18300.1215" newVersion="7.0.18300.1215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>