<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="7.0.20314.3001" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net48" />
  <package id="Rhino.Inside" version="7.0.0" targetFramework="net48" />
  <package id="RhinoCommon" version="7.0.20314.3001" targetFramework="net48" />
  <package id="RhinoWindows" version="7.0.20314.3001" targetFramework="net48" />
</packages>