<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudWatchLogs" version="3.3.4.10" targetFramework="net462" />
  <package id="AWSSDK.Core" version="3.3.25.3" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.24" targetFramework="net462" />
  <package id="Grasshopper" version="7.0.19043.14305-wip" targetFramework="net462" />
  <package id="Nancy" version="1.4.4" targetFramework="net462" />
  <package id="Nancy.Gzip" version="0.1.0" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="RhinoCommon" version="7.0.19043.14305-wip" targetFramework="net462" />
  <package id="Serilog" version="2.7.1" targetFramework="net462" />
  <package id="Serilog.Sinks.AwsCloudWatch" version="4.0.131" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="Topshelf" version="4.1.0" targetFramework="net462" />
  <package id="Topshelf.Serilog" version="4.1.0" targetFramework="net462" />
</packages>